{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}プロフィールの編集{% endblock title %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">プロフィールの編集</h4>
    <form action="{% url 'story:edit_profile' %}" method="post">

      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
      </div>
    </form>
    <a href="{% url 'story:profile' %}" class="btn btn-secondary btn-sm">戻る</a>
{% endblock content %}